body {
/*background-color: #cdB5Cd;*/
background-color: #E9DEFF;
}

html, body {
  height: 100%;
}

.logo{
     padding-left: 30px;
/*    padding-top: 15px;
    padding-bottom: 15px;*/
  /*background-color: pink;*/
  background-color: #fcfcfc;
  width: 100%;
border-bottom: 1px solid black;
/*  margin: 20px auto;*/
/*text-transform: uppercase;*/

}

.logo h2 {
     text-decoration: none;
     margin-left: 23%;
   /*    clear: both;*/
    content: "";
display: inline-block;
font-family: alegreya;
/*font-size: 30px;*/
}

.logo a {
    text-decoration: none;
    padding: 20px;
  /*     clear: both;*/
    content: "";
    display: inline;
    font-size: 1rem;
    font-weight: 700;
    font-family: alegreya;

}
/*
.logo h1 {
   width: 30%;
}*/

p {
/* font-family: alegreya;*/
font-weight: 750;

}

/* Navigation bar */

/*nav {
  font-size: 20px;
  width: 200px;
  float: left;
  background-color: #E9DEFF;
  padding-bottom: 100%;
  position: absolute;
  height: 100%;
  position: left;
  text-align: left;

}

nav ul {
  list-style-type: none;
}

nav li {
  margin-bottom: 4%;
}*/

/* Main Body */ 

.main {
  /*float: left;*/
  text-align: center;
 /* position: absolute;*/
  display: inline-block;
  margin-bottom: -42px;
  padding-bottom: 50px;
  /*width: 500px;*/
  /*margin-left: 40%;*/
}

/* Artist Image */

.welcome {
  /*position: absolute;*/
  padding: 10px 300px 10px 300px;
  line-height: 20px;
  float: left;
/*  margin-left: 50%;*/
  text-align: center;
 /* vertical-align: middle;*/
  left: 0;
}

#about {
  font-size: 20px;
  font-family: cursive;
 /* text-transform: uppercase;*/
}

/*Not being used right now */
/*.img-artist {
  float: left;
  max-width: 240px;
  max-height: 160px;
  vertical-align: middle;
  position: absolute;
  position: center;
  margin-left: 45%;
}*/

.imgDiv {
  /*position: absolute;*/
  float: left;
  margin-left: 10%;
  padding-left: 2%;
/*  display: block;*/
  display: inline-block;
}

.img {
  width: 25%;
  height: 300px;
  float: left;
  padding: 1.66%;
  border-radius: 75px;
  vertical-align: middle;
  position: static;
  /*transform: translate(50%, 50%);*/

}


.more {
  float: left;
  position: relative;
  text-align: center;
  margin-left: 45%;
 /* position: absolute;*/
}

#checkOutButton{
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin:0 auto;
}

/*Contact Info */

.wrap-contact{
  min-height: 100%; 
  float: left;
    width: 600px;
    text-align: center;
      display: block;
/*      margin: 30px 25% 20px 25%;*/
    border-radius: 10px;
    overflow: hidden;
    /*padding: 72px 55px 90px 55px;*/
    font: 20px;
    font-size: 18px;
    display: inline-block;
}

#contactForm{
     margin: 50px 20px 50px 20px;
       padding: 72px 55px 90px 55px;
         background: #fff;
}


.contact-form-title{
  display: block;
  font-size: 35px;
  color: #333333;
  line-height: 1.4;
  text-align: center;
  padding-bottom: 50px;
}


/*  margin: 30px 25% 30px 25%;*/
/*     width: 600px;*/
 /*    maybe width 100%?*/
/*    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;*/
/*  padding: 50%;*/
}

.input name{
  width: 33px;
}

.focus-input{
  padding-bottom: 10px;
}

form {
  /*margin-left: 100px;*/
}

/*FOOTER*/

.footer {
float: left;
position: relative;
clear: both;
cursor: default;
background-color: #f2f2f1;
padding: 10px;
text-align: center;
  font-size: 18px;
  border-top: 1px solid black;
  border-color: black;
width: 100%;
display: block;
height: 40px;
} 

.site-footer {
  background-color:#fcfcfc;
  color:#dfdfdf;
  cursor:default;padding-top:2rem;
  padding-bottom:2rem;
  position:relative;
  text-align:center;
  z-index:1;
}
